html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #494850;
    margin-bottom: 0;
  }


.starbg{
    background-image: url(img/starbg.png);
    background-size: 100% auto;
    background-repeat: repeat-y;
}

::-webkit-scrollbar {
    display: none;
  }

p{
    color:#ffffff;
}

h1, h2{
    color:#ffffff;
}

a{
    color: #ffffff;
}

hr{
    background-color: #dececf;
    height: 2px;
}

li{
    color: #ffffff;
}

ol{
    color: #ffffff;
    width: 20%;
    background-color: #948b90;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 25px;
}

ol li{
    margin: 5px;
}

/* classes */
.credits{
    margin-right: 20px;
    margin-bottom: 0;
    font-weight: bold;
}
.center{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    display: flex;
    justify-content: space-between; 
    margin-left: 15%;
    margin-right: 5%;
}

.mochi-img{
    max-width: 33%;
}

.website-img{
    max-width: 45%;
    text-align: center;
    margin: 2%;
}

.blog{
    justify-content: center;
    width:50%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border:2px solid #dececf;
    background-color: #948b90;
}

.blogtext{
    padding-left: 20px;
}

.blog:hover{
    background-color: #2C2C34;
    border:2px solid #000000;
}


/* ids */
#intro{
    margin-left: 15%;
    margin-right: 5%;
}

#intro p{
    color:#ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
}


#mochi{
    flex: 0.80;
    text-size-adjust: 40px;
    margin: 5%;
}


#about-me{ 
    flex: 0.20;
}

#questions{
    margin-left: 15%;
    margin-right: 5%;
}

/* end ids */


/* top navigation */
nav{
    width: 100%;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color: #2C2C34;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
  }
  
  nav ul li {
    float: left;
    width: 20%;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover:not(.active) {
    background-color: #948b90;
  }
  
  nav ul li a.active {
    background-color: #dececf;
    color: #2c2c34;
  }

  .active {
    background-color: #dececf;
    color: #2c2c34;
  }
/* end nav */


/* side menus */
aside {
    width: 10%;
    background-color: #2c2c34;
    height: 100%;
    position: fixed;
    padding: 0;
    overflow: auto;
  }
  
  .side-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .side-menu li {
    margin-bottom: 10px;
  }
  
  .side-menu li a {
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .side-menu li a:hover {
    background-color: #948b90;
    color: rgb(0, 0, 0);
  }
/* end site menus */


/* faqs */
.faq_item {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 70%;
  margin-right:auto;
  margin-left:auto;
}

.faq_title {
    color: #ffffff;
    font-weight: bold;
}

.faq_content {
    color: #dececf;
}

.faqs{
    text-align: center;
}
/* end faqs */

/* dashboard progress */
.dashboard{
    width:70%;
    margin-right:auto;
    margin-left:auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    color: #ffffff;
    border: 2px solid #2c2c34;
    padding: 8px;
    text-align: center;
    max-width: 250px;
}
th {
    color: #ffffff;
    background-color: #2c2c34;
}
.completed {
    background-color: #b6cca1; 
}
.failed {
    background-color: #dececf; 
}
.pending {
    background-color: #ffffff; 
}
.progress-bar {
    height: 25px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}
.progress-bar-fill {
    height: 100%;
    background-color: #808a79;
    text-align: center;
    color: white;
}
.first-column {
    width: 40%;
}
.second-column {
    width: 20%;
}
/* end dashboard */