html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #494850;
  }

nav{
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2C2C34;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  li a:hover:not(.active) {
    background-color: #948b90;
  }

  .active {
    background-color: #dececf;
    color: #2c2c34;
  }

  #blog {

  }