html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #494850;
  }

p{
    color:#ffffff;
}

h1{
    color:#ffffff;
}

a{
    color: #ffffff;
}

hr{
    background-color: #dececf;
    height: 2px;
}

li{
    color: #ffffff;
}

ol{
    color: #ffffff;
    width: 20%;
    background-color: #dececf;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 25px;
}

ol li{
    margin: 5px;
}


/* ids */
#intro{
    margin-left: 15%;
    margin-right: 5%;
}

#intro p{
    color:#ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
}

#website-img{
    max-width: 45%;
    text-align: center;
    margin: 2%;
}

#mochi{
    flex: 0.80;
    text-size-adjust: 40px;
    margin: 5%;
}

#mochi-img{
    max-width: 33%;
}

#about-me{
    flex: 1;  
    flex: 0.20;
}

#profile{
    display: flex;
    justify-content: space-between; 
    margin-left: 15%;
    margin-right: 5%;
}

#questions{
    margin-left: 15%;
    margin-right: 5%;
}

/* end ids */


/* top navigation */
nav{
    width: 100%;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0; 
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2C2C34;
  }
  
  nav ul li {
    float: left;
    width: 10%;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover:not(.active) {
    background-color: #948b90;
  }
  
  nav ul li a.active {
    background-color: #dececf;
    color: #2c2c34;
  }

  .active {
    background-color: #dececf;
    color: #2c2c34;
  }
/* end nav */


/* side menus */
aside {
    width: 10%;
    background-color: #2c2c34;
    height: 100%;
    position: fixed;
    padding: 0;
    overflow: auto;
  }
  
  .side-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .side-menu li {
    margin-bottom: 10px;
  }
  
  .side-menu li a {
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .side-menu li a:hover {
    background-color: #948b90;
    color: rgb(0, 0, 0);
  }
/* end site menus */


/* faqs */
.faq_item {
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.faq_title {
    color: #ffffff;
    font-weight: bold;
}

.faq_content {
    color: #dececf;
}

#faqs{
    text-align: center;
}
/* end faqs */